.VueTables__sortable {
    cursor: pointer !important;
}
.VueTables__search-field {
  display: flex;
}
.VueTables__search {
  float: right !important;
}
.VueTables__search-field label {
  margin-right: 1rem;
}
.VuePagination {
  justify-content: space-between !important;
}